.pagePopup {
	width: 350px;
	margin: 0;
	padding: 0 20px 20px;
	box-sizing: border-box;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.pagePopup input {
	transition: color 0.2s linear;
}
.true {
	color: green;
}

li[data-name]:hover {
	cursor: pointer;
	text-shadow: 1px 1px 1px #00000088;
}

input {
	width: 100%;
	margin-bottom: 1em;
}

/* AliMenu */
.AliMenu {
	display: flex;
	justify-content: space-evenly;
}
.AliMenu li {
	flex-grow:1;
}
.AliMenu li a {
	overflow: hidden;
	display: block;
	width: 100%;
	height: 32px;
	border-radius: 3px;
	text-indent: -9999px;
	background: 50% 50%/18px 18px no-repeat;
}
.AliMenu a:hover {
	background-color: #eee;
}
.AliMenu .AliHome a {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMTZweCIgeT0iMTZweCIgdmlld0JveD0iMCAwIDE2IDE2Ij48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWwpwYXRoLCBsaW5lLCBwb2x5Z29uIHtmaWxsOm5vbmU7c3Ryb2tlOiM2NjY7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO3N0cm9rZS1taXRlcmxpbWl0OjIzfQpdXT48L3N0eWxlPjwvZGVmcz4KPHBhdGggZD0iTTIuNDk5IDAuNWwxMS4wMDIgMGMxLjEsMCAxLjk5OSwwLjg5OSAxLjk5OSwxLjk5OWwwIDExLjAwMmMwLDEuMSAtMC44OTksMS45OTkgLTEuOTk5LDEuOTk5bC0xMS4wMDIgMGMtMS4xLDAgLTEuOTk5LC0wLjg5OSAtMS45OTksLTEuOTk5bDAgLTExLjAwMmMwLC0xLjEgMC44OTksLTEuOTk5IDEuOTk5LC0xLjk5OXoiLz4KPHBhdGggZD0iTTIuNDk5IDIuNDk5bDExLjAwMiAwYzEuMSwwIDEuOTk5LDAuOSAxLjk5OSwybDAgOS4wMDJjMCwxLjEgLTAuODk5LDEuOTk5IC0xLjk5OSwxLjk5OWwtMTEuMDAyIDBjLTEuMSwwIC0xLjk5OSwtMC44OTkgLTEuOTk5LC0xLjk5OWwwIC05LjAwMmMwLC0xLjEgMC44OTksLTIgMS45OTksLTJ6Ii8+CjxwYXRoIGQ9Ik0zLjUgNC41YzAsMiAyLjExNCw0IDQsNCAyLDAgNCwtMiA0LC00Ii8+Cjwvc3ZnPg==');
}
.AliMenu .AliTrade a {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMTZweCIgeT0iMTZweCIgdmlld0JveD0iMCAwIDE2IDE2Ij48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWwpwYXRoLCBsaW5lLCBwb2x5Z29uIHtmaWxsOm5vbmU7c3Ryb2tlOiM2NjY7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO3N0cm9rZS1taXRlcmxpbWl0OjIzfQpdXT48L3N0eWxlPjwvZGVmcz4KPHBvbHlnb24gcG9pbnRzPSI5LjUsMTUuNSAwLjUsNi41IDAuNSwwLjUgNi41LDAuNSAxNS41LDkuNSAiLz4KPHBhdGggZD0iTTQuMjE4IDIuMjE5YzEuMTA1LDAgMiwwLjg5NSAyLDEuOTk5IDAsMS4xMDUgLTAuODk1LDIgLTIsMiAtMS4xMDQsMCAtMS45OTksLTAuODk1IC0xLjk5OSwtMiAwLC0xLjEwNCAwLjg5NSwtMS45OTkgMS45OTksLTEuOTk5eiIvPgo8L3N2Zz4=');
}
.AliMenu .AliFeedback a {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMTZweCIgeT0iMTZweCIgdmlld0JveD0iMCAwIDE2IDE2Ij48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWwpwYXRoLCBsaW5lLCBwb2x5Z29uIHtmaWxsOm5vbmU7c3Ryb2tlOiM2NjY7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO3N0cm9rZS1taXRlcmxpbWl0OjIzfQpdXT48L3N0eWxlPjwvZGVmcz4KPHBhdGggZD0iTTEzLjUgNy4yODFsMCA2LjIyYzAsMS4wOTkgLTAuOSwyIC0yLDJsLTkgMGMtMS4xLDAgLTIsLTAuOSAtMiwtMmwwIC05LjAwMWMwLC0xLjEgMC45LC0yIDIsLTJsNC44NDMgMCIvPgo8cGF0aCBkPSJNMy41IDEwLjVsLTAuNSAyLjUgMi41IC0wLjUgOS41IC05LjVjMC41LC0xIC0xLC0yLjUgLTIsLTJsLTkuNSA5LjV6Ii8+CjxsaW5lIHgxPSIxMS41MDIiIHkxPSIyLjQ5OCIgeDI9IjEzLjUwMiIgeTI9ICI0LjQ5OSIgLz4KPGxpbmUgeDE9IjQuNDg2IiB5MT0iOS41MTQiIHgyPSI2LjQ4NiIgeTI9ICIxMS41MTQiIC8+Cjwvc3ZnPg==');
}
.AliMenu .AliWishlist a {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMTZweCIgeT0iMTZweCIgdmlld0JveD0iMCAwIDE2IDE2Ij48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWwpwYXRoLCBsaW5lLCBwb2x5Z29uIHtmaWxsOm5vbmU7c3Ryb2tlOiM2NjY7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO3N0cm9rZS1taXRlcmxpbWl0OjIzfQpdXT48L3N0eWxlPjwvZGVmcz4KPHBhdGggZD0iTTggMy41Yy0xLjMzMywtMC42NjcgLTIuNSwtMiAtNCwtMiAtMi41LDAgLTMuNSwyIC0zLjUsMy41IDAsNS41IDUsNS41IDcuNSw5LjUgMi41LC00IDcuNSwtNCA3LjUsLTkuNSAwLC0xLjUgLTEsLTMuNSAtMy41LC0zLjUgLTEuNSwwIC0yLjY2NywxLjMzMyAtNCwyeiIvPgo8L3N2Zz4=');
}

/* Треки на странице заказов*/
.inproveTrack {
	font-size: .8em;
	display: inline-block;
	position: relative;
	top: -6px;
	padding: 1px 5px 2px;
}
.trackrefresh {
	float: right;
	font-size: 1.3em;
	cursor: pointer;
	margin-top: -7px;
}
.trackrefresh:hover {
	color: #f60;
}

/* Total Price */
.USER_totalPrice {
	color: #FF4747;
	font: bold 1.2em/2em serif;
	padding-right: 20px;
}
.USER_RunTotalPrice {
	background: #FF4747;
	color: #FFF;
	cursor: pointer;
	padding: 2px 10px;
}

/* Breadcrumb */
.breadcrumb_ {
	text-align: center;
	margin: -15px 0 15px;
}
.breadcrumb_ a {
	padding: 0 5px;
	color: #666;
	font-size: 0.8em;
}
.breadcrumb_ a:hover {
	color: #ff4747
}

/* Скрытие надоедливой Евы */
.evaHideTrue #J_xiaomi_dialog {display: none;}